<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<head th:replace="/admin/share/head">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!--Header -->
    <header th:replace="/admin/share/header"></header>
    <!--Control Panel - Menu) -->
    <aside th:replace="/admin/share/menu"></aside>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="text-center">
                Danh sách hóa đơn
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid-main">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Khách hàng</th>
                            <th>Ngày đặt</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                            <th>Tích điểm</th>
                            <th>Phương thức</th>
                            <th>Trả trước(%)</th>
                            <th>Ghi chú</th>
                            <th>Trạng thái</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order : ${orderList}">
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.name}"></td>
                            <td th:text="${order.orderDate}"></td>
                            <td th:text="${order.totalQuantity}"></td>
                            <td th:text="${order.totalPrice}"></td>
                            <td th:text="${order.totalPoint}"></td>
                            <td th:text="${order.paymentMethod}"></td>
                            <td th:text="${order.prePay}"></td>
                            <td th:text="${order.note}"></td>
                            <td th:text="${order.status}"></td>
                            <td>
                                <button class="btn btn-success"><i class="fa-solid fa-check" style="color: #ffffff;"></i></button>
                                <button id="info" class="btn btn-warning" th:attr="data-detail=${#strings.listJoin(order.orderDetailProducts, ',')}"  onclick="tool(this)"><i class="fa-solid fa-info" style="color: #ffffff;"></i></button>
                                <button class="btn btn-info"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i></button>
                                <button class="btn btn-danger"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="dataTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Unit Price</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <footer th:replace="/admin/share/footer"></footer>

</div>

<div th:replace="/admin/share/Jquery"></div>
<div th:attr="data-result-message=${result_message}"></div>
<script th:inline="javascript">

    function tool(button) {
        const detail = button.getAttribute("data-detail");
        const data = JSON.stringify(detail);


        var dataArray = data.split('),');
        dataArray = dataArray.map(function(item) {
            // Thêm dấu đóng ngoặc ')' cuối cùng cho mỗi đối tượng
            if (!item.endsWith(')')) {
                item += ')';
            }
            // Chuyển chuỗi thành đối tượng JSON
            var obj = {};
            item.replace(/(\w+)=(.*?)(?=(?:,|$))/g, function(match, key, value) {
                obj[key] = value.trim();
            });
            return obj;
        });


        var jsonData = JSON.stringify(dataArray);
        const products = JSON.parse(jsonData);

        const tableBody = document.getElementById("dataTable").getElementsByTagName('tbody')[0];
        tableBody.innerHTML = "";

        for (const product of products) {
            const row = tableBody.insertRow(-1);

            const cellId = row.insertCell(0);
            cellId.textContent = product.id;

            const cellName = row.insertCell(1);
            cellName.textContent = product.name;

            const cellQuantity = row.insertCell(2);
            cellQuantity.textContent = product.quantity;

            const cellPrice = row.insertCell(3);
            cellPrice.textContent = product.price;

            const cellUnitPrice = row.insertCell(4);
            let unitPrice = product.unitPrice.replaceAll(")","").replaceAll("\"" , "");
            cellUnitPrice.textContent = unitPrice;
        }
    }


    function deleteProduct(button){
        var productId = button.getAttribute("data-product-id");
        var userConfirmed = confirm("Bạn có muốn xóa sản phẩm này không ?");
        if (userConfirmed) {
            deleteP(productId);
        }
    }
    //Hàm xử lý hành động xóa
    async function deleteP(productId) {
        const response = await fetch("/admin/product/delete/" + productId, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            },
        });

        if (response.ok) {
            alert("Xóa sản phẩm thành công");
            location.reload();
        }
    }




</script>
</body>
</html>
