<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/share/head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!--Header -->
    <header th:replace="/admin/share/header"></header>
    <!--Control Panel - Menu) -->
    <aside th:replace="/admin/share/menu"></aside>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Trang trống
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div>Hello</div>
        </section>
    </div>
    <footer th:replace="/admin/share/footer"></footer>
</div>
<div th:replace="/admin/share/Jquery"></div>
</body>
</html>
