<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .img-fluid{
        max-width: 50px;
        max-height: 50px;
    }
    .form-control{
        width: 60% !important;
    }
</style>
<head th:replace="/admin/share/head">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!--Header -->
    <header th:replace="/admin/share/header"></header>
    <!--Control Panel - Menu) -->
    <aside th:replace="/admin/share/menu"></aside>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="text-center">
                Danh sách sản phẩm
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Sold</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="listProduct : ${listProduct}">
                            <td th:text="${listProduct.id}">1</td>
                            <td><img class="img-fluid" th:src="${listProduct.img}"></td>
                            <td th:text="${listProduct.name}"></td>
                            <td th:text="${listProduct.quantity}"></td>
                            <td th:text="${listProduct.sold}"></td>
                            <td th:text="${listProduct.price}"></td>
                            <td>
                                <button class="btn btn-warning" onclick="openModal(this)"
                                                            th:attr="data-product='{&quot;id&quot;:' + '&quot' + ${listProduct.id} + '&quot'
                                                             + ',&quot;name&quot;:'                  + '&quot' + ${listProduct.name} + '&quot'
                                                             + ',&quot;price&quot;:'                 + '&quot' + ${listProduct.price} + '&quot'
                                                             + ',&quot;quantity&quot;:'              + '&quot' + ${listProduct.quantity} + '&quot'
                                                             + ',&quot;sold&quot;:'                  + '&quot' + ${listProduct.sold} + '&quot'
                                                             + ',&quot;material&quot;:'              + '&quot' + ${listProduct.material} + '&quot'
                                                             + ',&quot;note&quot;:'                  + '&quot' + ${listProduct.note} + '&quot'
                                                             + ',&quot;rewardPoints&quot;:'                  + '&quot' + ${listProduct.rewardPoints} + '&quot'
                                                             + ',&quot;img&quot;:'                   + '&quot' + ${listProduct.img} + '&quot;}'" ><i class="far fa-edit" style="color: #ffffff;"></i></button>
                                <button class="btn btn-danger" th:attr="data-product-id=${listProduct.id}" onclick="deleteProduct(this)"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <footer th:replace="/admin/share/footer"></footer>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="border: none">
                    <h4 class="modal-title text-center">Chỉnh sửa thông tin sản phẩm</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="margin-left: 50px">
                    <div class="container">
                        <form id="myForm" action="/admin/product/update" method="post" enctype="multipart/form-data">
                            <div class="row d-flex justify-content-center" >
                                <div class="col" style="margin-bottom: 20px">
                                    <label>ID sản phẩm</label>
                                    <input type="text" class="form-control" id="id"  placeholder="Ex: Hoa hồng" name="id" readonly>
                                </div>
                                <div class="col" style="margin-bottom: 20px">
                                    <label>Tên sản phẩm</label>
                                    <input type="text" class="form-control" id="name"  placeholder="Ex: Hoa hồng" name="name" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="margin-bottom: 20px">
                                    <label>Giá sản phẩm</label>
                                    <input type="number" class="form-control" id="price" min="0" placeholder="Ex: 10000" name="price" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="margin-bottom: 20px">
                                    <label>Số lượng</label>
                                    <input type="number" class="form-control" id="quantity" min="1" placeholder="Ex: 1" name="quantity" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="margin-bottom: 20px">
                                    <label>Đã bán</label>
                                    <input type="number" class="form-control" id="sold" min="0" placeholder="Ex: 1" name="sold" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="margin-bottom: 20px">
                                    <label>Chất liệu</label>
                                    <input type="text" class="form-control" id="material" placeholder="Ex: Kim cương ..." name="material" required>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col" style="margin-bottom: 20px">
                                    <label>Mô tả sản phẩm</label>
                                    <textarea class="form-control" id="note" rows="5" name="note" ></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="margin-bottom: 20px">
                                    <label>Điểm thưởng</label>
                                    <input type="number" class="form-control" id="point" min="0" placeholder="Ex: 100" name="rewardPoints" required>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 30px">
                                <label>Ảnh sản phẩm</label>
                                <div class="custom-file mb-3">
                                    <input type="file" class="custom-file-input" id="customFile" name="file">
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-warning" type="submit" >Cập nhật</button>
                                <button class="btn btn-about" onclick="closeModal()" >Hủy</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer" style="border: none">
                    <div class="d-flex flex-row-reverse">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/admin/share/Jquery"></div>
<div th:attr="data-result-message=${result_message}"></div>
<script th:inline="javascript">
    // Hiển thị thông báo
    var message = document.querySelector('[data-result-message]').getAttribute('data-result-message');
    if (message) {
        alert(message);
    }

    //Nút xóa sản phẩm
    function deleteProduct(button){
        var productId = button.getAttribute("data-product-id");
        var userConfirmed = confirm("Bạn có muốn xóa sản phẩm này không ?");
        if (userConfirmed) {
            deleteP(productId);
        }
    }
    //Hàm xử lý hành động xóa
    async function deleteP(productId) {
        const response = await fetch("/admin/product/delete/" + productId, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            },
        });

        if (response.ok) {
            alert("Xóa sản phẩm thành công");
            location.reload();
        }
    }

    //Mở modal
    function openModal(element) {
        var productData = element.getAttribute("data-product");
        try {
            var product = JSON.parse(productData);
            console.log(product)
            document.getElementById("id").value = product.id;
            document.getElementById("name").value = product.name;
            document.getElementById("price").value = chuyenDoiChuoi(product.price);
            document.getElementById("quantity").value = product.quantity;
            document.getElementById("sold").value = product.sold;
            document.getElementById("material").value = product.material;
            document.getElementById("note").value = product.note;
            document.getElementById("point").value = product.rewardPoints;

            $('#myModal').modal('show');

        } catch (error) {
            console.error("Lỗi khi parse JSON:", error);
        }

    }
    function closeModal(){
        $('#myModal').modal('hide');
        window.location.href = 'http://localhost:8080//admin/product/list-product';
    }

    function chuyenDoiChuoi(chuoi) {
        var buoc1 = chuoi.replace(/\./g, '');
        var buoc2 = buoc1.replace('đ', '');
        return buoc2;
    }


</script>
</body>
</html>
