<aside class="main-sidebar" th:fragment = "menu">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->

    <ul class="sidebar-menu" data-widget="tree">

      <li>
        <a href="/admin">
          <i class="fa fa-dashboard"></i> <span>Thống kê</span>
          <span class="pull-right-container">
              <small class="label pull-right bg-green">Hot</small>
            </span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="ion ion-bag"></i> <span>Quản lý sản phẩm</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a th:href="@{/admin/product/add-product}"><i class="fa fa-circle-o"></i>Thêm sản phẩm</a></li>
          <li><a th:href="@{/admin/product/list-product}"><i class="fa fa-circle-o"></i>Danh sách sản phẩm</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa-brands fa-opencart"></i> <span>Quản lý hóa đơn</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a th:href="@{/admin/orders/}"><i class="fa fa-circle-o"></i>Danh sách hóa đơn</a></li>
        </ul>
      </li>
      <li>
        <a href="/admin/customer/">
          <i class="fa fa-user"></i> <span>Danh sách khách hàng</span>
          <span class="pull-right-container">
              <small class="label pull-right bg-green"></small>
            </span>
        </a>
      </li>

    </ul>
  </section>
</aside>